body {
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.row {
    display: flex;
}

.prompt {
    justify-content: space-between;
    margin-bottom: 10px;
}

.input_area {
    padding: 0 50px;
    margin: 15px 0;
}

.button {
    border-radius: 10px;
    background-color: greenyellow;
    padding: 10px 20px;
    cursor: pointer;
}

.button:hover {
    background-color: #b2ff64;
    border: 1px solid #88c825;
    padding: 9px 19px;
    box-shadow: 0 0 10px rgb(126, 255, 0);
}

.undo_button:hover {
    background-color: #fcb2ac;
    border: 1px solid #c85050;
    box-shadow: 0 0 10px #ff7f7f;
}

.undo_button {
    background-color: #ff7f7f;
}

.buttons {
    justify-content: space-between;
    margin-top: 10px;
}

.main {
    max-width: 900px;
    width: 100%;
    padding: 0 25px;
    height: 90vh;
    align-self: center;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
}

.canvas_holder canvas {
    width: 100%;
    height: 100%;
}

.canvas_holder {
    background-color: #ccf1ff;
    flex-grow: 4;
}

.table_area {
    flex-grow: 1;
    overflow: auto;
    margin: 15px 0;
}

.table {
    height: calc(100% - 20px);
    overflow: auto;
}

.table_area .text {
    height: 20px;
}